/* Popup css */

.popuppicture {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popupbuttons {
    position: fixed;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    background-color: white;
}

.popupbuttons .subbutton {
    position: absolute;
    bottom: 20px;
    right: 30%;
    left: 30%;
}

.popupbuttons .backbutoon {
    position: absolute;
    top: 0;
    left: 0;
}

.popupbuttons .picture {
    position: absolute;
    left: 37%;
}

.popupchoose {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popupmain {
    position: fixed;
    overflow: auto;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    background-color: white;
}

.submitbutton {
    position: fixed;
    top: 75%;
    left: 25%;
    right: 25%;
    bottom: 22%;
}

.backbutton {
    position: absolute;
    top: 0;
    left: 0;
}

/* Main css */

.main {
    position: flex;
}

.picupload {
    position: absolute;
    top: 6.8%;
    height: 20%;
    width: 100%;
    display: flex;
    background-color: orange;
    justify-content: center;
    align-items: center;
}

.randomrecipe {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: wheat;
    top: 26.8%;
    width: 100%;
    overflow: auto;
}

.randombutton {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2);
    border: 0;
    margin-top: 50px;
    margin-left: 55px;
    margin-right: 25px;
}

.randombutton:hover {
    background-color: lightskyblue;
}


/* searchbar css */

.search {
    position: absolute;
    top: 0;
    width: 100%;
    height: 6.8%;
    background-color: orangered;
    line-height: 0px;
}

.results {
    width: 300px;
    height: 200px;
    background-color: whitesmoke;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 10;
}

.results::-webkit-scrollbar {
    display: none;
}

.results .buttonresult {
    width: 100%;
    height: 50px;
    display: flex;
}

.searchbar {
    width: 300px;
}


/* Recipelist css */

.recipelistback {
    position: flex;
}

.backposition {
    position: absolute;
    top: 6.8%;
    height: 3.2%;
    width: 100%;
    background-color: orangered;
    align-items: baseline;
}

.recipelist {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: wheat;
    top: 10%;
    width: 100%;
    overflow: auto;
}